<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardcoffer.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <permission
        android:name="com.cardcoffer.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cardcoffer.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".CardCofferApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CheckInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".activities.StacksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.cardcoffer.app" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ExchangeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity" >
        </activity>
        <activity
            android:name=".activities.NFCActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.cardcoffer" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".activities.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:parentActivityName=".activities.ExchangeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cardcoffer.app.activities.ExchangeActivity" />
        </activity>
        <activity
            android:name=".activities.AddNewCardActivity"
            android:label="@string/title_activity_add_new_card"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.AddNewStackActivity"
            android:label="@string/title_activity_new_stack"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cardcoffer.app.activities.HomeActivity" />
        </activity>
    </application>

</manifest>
